<h2>Daily Review</h2>




<div id="button_nav">
<a ng-href="#/review/medications" class="btn btn-warning">Medications</a>
<a ng-href="#/review/sleep" class="btn btn-success">Sleep</a>
<a ng-href="#/review/routine" class="btn btn-success">Routine</a>
<a ng-href="#/review/ews" class="btn btn-success">EWS</a>
<a ng-href="#/review/wellness" class="btn btn-success">Wellness</a>


</div>

<Br/>
<a ng-href="#/charts" class="btn btn-default">Charts</a>
<a ng-href="#/charts" class="btn btn-default">Exit Livewell</a>



