<h2>Daily Check In</h2>

<label for="medications">Medications</label>
<br/>
<div class="btn-group">
 <label  class="btn btn-default"><input type="radio" name="medications" value="all">All</label>
 <label  class="btn btn-default"><input type="radio" name="medications" value="some">Some</label>
  <label class="btn btn-default"><input type="radio" name="medications" value="None">None</label>
</div>
<br/>
<label for="bedtime">Went to Bed
<input type="time" name="bedtime">
</label>
<br/>
<label for="got_up">Got Up
<input type="time" name="got_up">
</label>
<br/>
<label>EWS</label>
<div class="btn-group">
 <label  class="btn btn-default"><input type="radio" name="medications" value="all">All</label>
 <label  class="btn btn-default"><input type="radio" name="medications" value="some">Some</label>
</div>
<br/>
<label>Wellness</label>
<div class="btn-group">
 <label  class="btn btn-default"><input type="radio" name="wellness" value="-4">-4</label>
 <label  class="btn btn-default"><input type="radio" name="wellness" value="-3">-3</label>
 <label  class="btn btn-default"><input type="radio" name="wellness" value="-2">-2</label>
 <label  class="btn btn-default"><input type="radio" name="wellness" value="-1">-1</label>
 <label  class="btn btn-default"><input type="radio" name="wellness" value="0">0</label>
 <label  class="btn btn-default"><input type="radio" name="wellness" value="1">1</label>
 <label  class="btn btn-default"><input type="radio" name="wellness" value="2">2</label>
 <label  class="btn btn-default"><input type="radio" name="wellness" value="3">3</label>
 <label  class="btn btn-default"><input type="radio" name="wellness" value="4">4</label>

</div>

<button class="btn btn-default">Save</button>