<h2>Daily Review</h2>
<h3>Past 7 Days</h3>

<div class="well">
<div class="row"><div class="col-md-4 col-xs-4 col-sm-4">
Medication</div>
<div class="col-md-8 col-xs-8 col-sm-8 alert-warning">
60%
</div>
</div>
</div>
<div class="well">
<div class="row"><div class="col-md-4 col-xs-4 col-sm-4">
Sleep</div>
<div class="col-md-8 col-xs-8 col-sm-8">
40%
</div>
</div></div>
<div class="well">
<div class="row"><div class="col-md-4 col-xs-4 col-sm-4">
Routine</div>
<div class="col-md-8 col-xs-8 col-sm-8">
20%
</div>
</div>
</div>
<div class="well">
<div class="row"><div class="col-md-4 col-xs-4 col-sm-4">
Days Well</div>
<div class="col-md-8 col-xs-8 col-sm-8">
10%
</div>
</div></div>


<div class="alert alert-warning">
Looks like you're having issues with <b>Medication</b>.
</div>


<a ng-href="#/intervention/medication/1" class="btn btn-primary">Continue</a>


