<h2>Settings &amp; Instructions</h2>

<div id="button_nav">

<a ng-href="" class="btn btn-default">Introduction</a>

<a ng-href="" class="btn btn-default">Schedule</a>
<a ng-href="" class="btn btn-default">Reminders</a>
<a ng-href="" class="btn btn-default">Settings</a>
<a ng-href="" class="btn btn-default">Coach</a>
<a ng-href="" class="btn btn-default">Psychiatrist</a>
<a ng-href="" class="btn btn-default">Foundations</a>
<a ng-href="" class="btn btn-default">Check Ins</a>
<a ng-href="" class="btn btn-default">Daily Review</a>
<a ng-href="" class="btn btn-default">Charts</a>
<a ng-href="" class="btn btn-default">Wellness Plan</a>
<a ng-href="" class="btn btn-default">FAQ</a>
</div>