<h2>Weekly Survey</h2>
<h3>Depressed Mood</h3>

<label>Over the past week, how often have you been bothered by the following problems?</label>

<div class="well">Little interest or pleasure in doing things.</div>

<div class="button-group">
<label class="btn btn-info"><input type="radio" name="phq1" value="0">Not at all</label><br/>
<label class="btn btn-info"><input type="radio" name="phq1" value="1">Several Days</label><br/>
<label class="btn btn-info"><input type="radio" name="phq1" value="2">More than half the days</label><br/>
<label class="btn btn-info"><input type="radio" name="phq1" value="3">Nearly every day</label><br/>
</div>


<button class="btn btn-default">Next</button>
